@font-face {
    font-family: 'Asap';
    font-weight: 400;
    src: url('./../assets/PlaypenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Asap';
    font-weight: 700;
    src: url('./../assets/PlaypenSans-Bold.ttf') format('truetype');
}

button {
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}